
.topic-button {
    margin: 1px 5px;
}

.caption {
    text-align: center;
    margin: 0;
    padding: 1px 5px;
}

.thumbnail-wrapper {
    padding: 0;
    margin: 0;
}

.thumbnail {
    padding: 0;
    margin: 0;
}

.thumbnail * {
    margin: 0;
    padding: 0;
}

